@import '../theme/variables';

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: getColor(main);
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.block {
  display: block;
}

footer {
  background: getColor(main);
  color: #fff;
  min-height: 50px;
}

/********** New CSS in here *************/
// HEADER
.header-top {
  padding: 5px 0;
  background: getColor(main);
  span {
    font-size: 14px;
  }
  p {
    display: inline-block;
    margin-top: 0;
    text-transform: uppercase;
  }
  a {
    font-size: 13px;
    color: #8a4762;
    padding: 0 15px;
    display: inline-block;
    font-weight: 700;
  }
}

.logo img {
  width: 100%;
  height: 150px;
}
.logo a {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.center-content {
  padding: 28px 0 10px;
}

.search-form {
  border: 2px solid #ffb0bd;
  border-radius: 8px;
  overflow: hidden;
  .btn {
    border: none;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    padding: 0.3rem 0.82rem;
  }
  input {
    border: none;
    height: 34px;
  }
}

.category-sample-item {
  margin-top: 5px;

  a {
    font-size: 14px;
    color: #000;
    padding: 0 5px;
    display: inline-block;
    &:hover {
      color: #ffb0bd;
    }
  }
}

.nav-bar {
  background-color: getColor(main);
}
.user-nav {
  list-style: none;
  margin-bottom: 0;
  li {
    display: inline-block;
  }
}
.user-section {
  height: 100%;
  align-items: center !important;
  padding-bottom: 50px;
}
