<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col text-right">
          <p>
            <span> <a href=""> hệ thống cửa hàng </a></span>
          </p>
          <p>
            <span> <a [routerLink]="['/home/about']"> về ngọt </a></span>
          </p>
          <p>
            <span> <a> tuyển dụng </a></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-top">
    <div class="container">
      <div class="row align-center">
        <div class="col-md-3 col-sm-12">
          <div class="js-menu-svg d-inline-flex align-items-center justify-content-center d-lg-none">
            <img src="assets/icon/icons8-menu-64.png" alt="" />
          </div>
          <a href="/" class="logo">
            <img src="assets/logo/logo-main.png" alt="" />
          </a>
        </div>

        <div class="col-md-6 col-sm-12 block center-content">
          <form action="search" class="search-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" />
              <span class="input-group-btn">
                <button class="btn btn-pink">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>

          <div class="category-sample-item">
            <p>
              <a href="" *ngFor="let item of categoryItem">{{ item.name }}</a>
            </p>
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="d-flex align-items-start user-section">
            <ul class="d-none d-md-block user-nav">
              <li>
                <a [routerLink]="['/user/login']">ĐĂNG NHẬP |</a>
              </li>
              <li>
                <a [routerLink]="['/user/register']"> ĐĂNG KÝ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>
</header>

<main class="content" role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="f-start">
    <div class="container"></div>
  </div>
</footer>
<!-- 
<livechat-widget
  #liveChatWidget
  licenseId="11082047"
  (onChatLoaded)="onChatLoaded($event)"
  (onChatWindowOpened)="onChatWindowOpened()"
  (onChatWindowMinimized)="onChatWindowMinimized()"
  [visitor]="visitor"
  [params]="params"
></livechat-widget> -->
