<p>
    Xin chào các bạn, Ngọt chúng mình là một chuỗi cửa hàng phụ kiện và quà tặng với vô vàn sản phẩm luôn được cập nhật theo xu hướng hot nhất.

Ở Ngọt, các bạn có thể tìm thấy rất nhiều items hấp dẫn như gấu bông, văn phòng phẩm, items thời trang, phụ kiện điện thoại, sản phẩm idol, đồ trang sức, đồ gia dụng tiện ích,... Hơn thế nữa, không gian cửa hàng siêu cute cũng khiến các tín đồ sống ảo không thể chối từ. Chẳng còn gì thung thướng hơn việc vừa mua được đồ xinh vừa chụp được những tấm hình check-in long lanh lóng lánh phải hem nào?



Được thành lập vào 11/07/2016, sau quá trình trưởng thành và phát triển, Ngọt hiện có hơn 400 nhân viên, những người luôn hết mình và nhiệt huyết trong mọi hoạt động nhằm đem đến cho khách hàng thân yêu trải nghiệm mua sắm tuyệt vời nhất. Với môi trường làm việc trẻ trung và đầy sáng tạo, Ngọt đã và đang trở thành gia đình thứ hai của rất nhiều các bạn trẻ đam mê sự đáng yêu và năng động.

 

Bên cạnh đó, Ngọt cũng có những hoạt động gắn kết các thành viên trong công ty bằng những hoạt động tập thể hấp dẫn như Summer trip, Year end party, trung thu, sinh nhật nhân viên ...
</p>