<div class="user">
  <div class="user-nav">
    <a [routerLink]="['/user/login']">đăng nhập</a>
    <a [routerLink]="['/user/register']" class="active">đăng ký</a>
  </div>

  <form [formGroup]="registerForm">
    <div class="form-group">
      <input formControlName="username" type="text" placeholder="Tên đăng nhập (*)" />
      <div *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="fullName" type="text" placeholder="Họ tên (*)" />
      <div *ngIf="registerForm.get('fullName').hasError('required') && registerForm.get('fullName').touched">
        <p class="error-message">Sai mật khẩu</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="birthday" type="text" placeholder="mm/dd/yyyy" />
      <div *ngIf="registerForm.get('birthday').hasError('required') && registerForm.get('birthday').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="phoneNumber" type="text" placeholder="Điện thoại (*)" />
      <div *ngIf="registerForm.get('phoneNumber').hasError('required') && registerForm.get('phoneNumber').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="email" type="text" placeholder="Email (*)" />
      <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="city" type="text" placeholder="Tỉnh / Thành phố (*)" />
      <div *ngIf="registerForm.get('city').hasError('required') && registerForm.get('city').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="district" type="text" placeholder="Quận / Huyện (*)" />
      <div *ngIf="registerForm.get('district').hasError('required') && registerForm.get('district').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="correctAddress" type="text" placeholder="Địa chỉ chính xác (*)" />
      <div *ngIf="registerForm.get('correctAddress').hasError('required') && registerForm.get('correctAddress').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="password" type="text" placeholder="Mật khẩu của bạn (*)" />
      <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="retypePassword" type="text" placeholder="Nhập lại mật khẩu (*)" />
      <div *ngIf="registerForm.get('retypePassword').hasError('required') && registerForm.get('retypePassword').touched">
        <p class="error-message">Sai tên đăng nhập hoặc email</p>
      </div>
    </div>

    <div class="submit-section text-center">
      <button class="btn btn-main-bg full text-uppercase">
        Đăng ký
      </button>
    </div>
  </form>
</div>
