<div class="container">

  <owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of categoryHeadList">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.image" [alt]="" [title]="slide.id">
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>

  <div class="row for-product-item">
    <div class="new-product">
      <h2 class="title">
        <a href="">Sản phẩm mới</a>
      </h2>
    </div>

    <div class="row ">
      <div class="product-item col-md-3 col-xs-12" *ngFor="let item of itemProductList">
        <div class="image">
          <span class="flag">New</span>
          <a href="">
            <img [src]="item.image" alt="" />
          </a>
        </div>

        <h3 class="name">
          <a href="" [title]="item.name">{{ item.name }}</a>
        </h3>

        <div class="price">
          <span>{{ item.price }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row for-category-item">
    <h2 class="title">Chủ đề mới</h2>

    <div class="row category-header">
      <div class="col-md-3 col-sm-12 pointer" *ngFor="let item of categoryHeadList">
        <img [src]="item.image" alt="" />
      </div>
    </div>
  </div>
</div>
